{% extends 'base.html' %}
{% block title %}Welcome to my blog{% endblock %}

{% block content %}
   
    <h2>Posts</h2>
{% if posts %}
    {% for post in posts %}   

            <a class="lead" href="{{ post.id }}.html">{{ post.title }}</a>
            <p>
            <p><small>{{ post.body }}</small></p>
            <i class="icon-bookmark"></i>Category: {{post.category}}
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.posted }}</p>
          
    {% endfor %}
{% else %}
    <p>No Blog posts are available.</p>
{% endif %}

{% endblock %}