{% extends 'base.html' %}
{% block title %}Welcome to my blog{% endblock %}

{% block content %}
   
    <h2>Posts</h2>
{% if posts %}
    {% for post in posts %}   

            <a class="lead" href="{{ post.id }}.html">{{ post.title }}</a>
            <p>
            <p><small>{{ post.body }}</small></p>
         <div style="float:right";>   <a href="https://twitter.com/share" class="twitter-share-button" data-via="Losaifate">Tweet</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
         </div>
           <div style="float:right";>  <i class="icon-bookmark"></i>Category: {{post.category}} </div>
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.posted }}</p>
          
    {% endfor %}
{% else %}
    <p>No Blog posts are available.</p>
{% endif %}

{% endblock %}