{% extends 'base.html' %} 
{% block head_title %}Viewing categories {{ category.title }}{% endblock %}

{% block content %}
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li><a href="category/{{ category.title }}.html">{{ category.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no categories.</p>
    {% endif %}
    {% if user.is_authenticated %}
       <a href="new_category.html" class="btn btn-primary btn-xs">New category</a>
    {% endif %} 
{% endblock %}